.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;

  main {
    flex-grow: 1;
  }
}
/* 
.Layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "main"
    "footer"
    "header";
  grid-template-rows: 1fr auto auto;
}

.Navbar {
  grid-area: header;
  position: sticky;
  bottom: 0;
  z-index: 50;
}
.main {
  grid-area: main;
  padding: 20px;
}
.footer {
  grid-area: footer;
  padding: 20px;
  background: #f4f4f4;
} */

/* 3. Desktop Switch */
@media (min-width: 768px) {
  /* .Layout {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto;
  } */

  .Layout {
    /* grid-template-rows: auto 1fr auto 0px; */
  }
}
