.RemindersPage {
  width: 100%;
  min-height: 100vh;
}

.RemindersPage__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacing-md);
  border-bottom: 0.0625rem solid
    light-dark(var(--border-light), var(--border-dark));
  margin-bottom: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.RemindersPage__title {
  margin: 0;
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  color: light-dark(var(--foreground-light), var(--foreground-dark));
}

@media (min-width: 640px) {
  .RemindersPage__header {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
}
