.SwitchInput {
  width: 100px;
  height: 25px;
  position: relative;
  .SwitchInput__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 25px;
    opacity: 0%;
    margin: 0;
    z-index: 99;
    cursor: pointer;
  }

  .SwitchInput__toggles {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0.75rem;

    .SwitchInput__toggle {
      width: 50px;
      color: white;
      display: flex;
      place-items: center;
      place-content: center;
      font-weight: bolder;
      letter-spacing: 1.5px;

      &.SwitchInput__off {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.SwitchInput__on {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .SwitchInput__off {
      background-color: var(--primary);
    }
    .SwitchInput__on {
      background-color: var(--secondary);
    }

    &.SwitchInput__checked .SwitchInput__off {
      background-color: var(--secondary);
    }
    &.SwitchInput__checked .SwitchInput__on {
      background-color: var(--primary);
    }
  }
}

.Tile {
  position: relative;
  border: 1px solid var(--secondary);
  padding: 0.8rem 1rem;
  border-radius: 4px;

  .Tile__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
