:root {
  --foreground-light: #4d4d4d;
  --background-light: #f5f5f5;
  --foreground-dark: #cdced7;
  --background-dark: #1f2135;
  --font-primary: "Google Sans", sans-serif;
  --fs-xs: clamp(0.75rem, 0.7rem + 0.3vw, 0.875rem); /* 12–14px */
  --fs-sm: clamp(0.875rem, 0.8rem + 0.3vw, 1rem); /* 14–16px */
  --fs-md: clamp(1rem, 0.9rem + 0.4vw, 1.125rem); /* 16–18px */
  --fs-lg: clamp(1.125rem, 1rem + 0.5vw, 1.375rem); /* 18–22px */
  --fs-xl: clamp(1.375rem, 1.2rem + 0.8vw, 1.75rem); /* 22–28px */
  --fs-2xl: clamp(1.75rem, 1.5rem + 1.2vw, 2.25rem); /* 28–36px */
  --fs-3xl: clamp(2.25rem, 2rem + 1.8vw, 3rem); /* 36–48px */
  --border-radius: 0.5rem;
  --primary: #161fd2;
  --secondary: #78787b;
  color-scheme: light dark;
}

body {
  font-family: var(--font-primary);
  background-color: light-dark(var(--background-light), var(--background-dark));
  color: light-dark(var(--foreground-light), var(--foreground-dark));
  transition: background-color 0.3s ease;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select::picker-icon {
  display: none;
}

select {
  selectedcontent {
    width: 100%;
  }
}

select,
select::picker(select) {
  appearance: base-select;
  border: 1px solid var(--primary);
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

select option {
  padding: 0.25rem;
  background-color: white;
}

select option:hover {
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}

select > button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  .chevron {
    color: var(--secondary);
  }
}

select:open > button {
  outline: 2px solid var(--primary);
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  border: 1px solid #ddd;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

/* Base styles for the dialog */
dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

form .form-group {
  margin-bottom: 1.2rem;
}

form .form-group:last-child {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

form input[type="text"],
form input[type="datetime-local"],
form textarea {
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.btn {
  background: none;
  border: none;
  background-color: var(--primary);
  padding: 0.8rem 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
